@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
  display: flex;
  background-color: rgb(63, 63, 63);
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 20px;
  margin: 2rem;
  width: 100vw;
}

h1 {
  font-size: 6rem;
  margin: 0;
  text-transform: uppercase;
  color: rgb(63, 63, 63);
}

h3 {
  text-align: left;
  font-family: "helvetica", "sans-serif";
  font-weight: 500;
  color: rgb(63, 63, 63);
}

.loading {
  text-align: center;
}

.main {
  display: flex;
  height: 85%;
  align-items: center;
  justify-content: center;
}

.name {
  margin: auto;
}

.image {
}

.header-footer {
  display: flex;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
}

button {
  background-color: red;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-family: "helvetica", sans-serif;
}

h4 {
  margin: 0;
  padding: 5px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h3 {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 3rem;
  }
  .main {
    height: 70vh;
  }
}
