@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.App {
  text-align: center;
  padding:30vh;
  box-sizing:border-box;
  margin:0;
  height:100vh;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 6rem;
  margin:0;
  text-transform: uppercase;
}

button {
  background-color:red;
  border:none;
  padding:.5rem 1rem .5rem 1rem;
  border-radius:10px;
  color:white;
  font-family: 'helvetica', sans-serif;
}